* {
    box-sizing: border-box;
}

h1 {
    justify-self: center;
}

.fruitCounterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    align-self: center;
    justify-self: center;
}

.resetButton {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label input {
    margin: 5px;
}
